/* Nav */
nav {
  width: 100%;
  text-align: center;
  grid-area: nav;
  background: black(.02);
  border-bottom: $light-border;
  margin: 0 0 1vh 0;

  @if $guides == true {
    background: $guide-color-a;
  }

  a {
    color: $body-gray;
    padding: 2.5vh 4vw;
    display: inline-block;
    font-weight: 100;
    letter-spacing: .1rem;
    position: relative;
    vertical-align: middle; /* Prevents line-height shifting */

    @if $guides == true {
      background: color(red a(10%));
    }

    &.active {
      color: $body-black;
      cursor: default;

      /* Indicator Arrow */
      &:before {
        content: '';
        position: absolute;
        top: 7.8vh;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-top: 1.5vw solid red;
      }
    }
  }
}
