/* 🎁 Page Wrapper ************************************************************/
@import '../lib.css';

.page-wrap {
  background: $page-color;
  max-width: 100vw;
  overflow-x: hidden;
  /* Flexbox for mobile (one dimension) */
  display: flex;
  flex-direction: column;
  /* Height set by javascript (react-div-100vh) to negate mobile toolbar bugs */
}

.header { /*------------------------------------------------------------------*/
  grid-area: header;
  position: relative;
}


.content { /*-----------------------------------------------------------------*/
  flex: auto;
  padding: 3vh 3vw;

  @media w(768) {
    padding: $trailer;
  }
}

@media w(768) { /*------------------------------------------------------------*/
  .page-content:not(.home-page) {
    display: grid;
    grid-gap: calc($trailer / 2) $gutter;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "pic ."
      "bio skills";
  }

  /* Profile */
  .profile-pic {
    grid-area: pic;
    @include size(20vw);
    margin: 0;
    left: calc(50% - 10vw);
    border: $border inset;
  }

  .profile-bio {
    grid-area: bio;
    border-right: $border;
    padding-right: $gutter;
  }

  .profile-skills {
   grid-area: skills;
  }
}


@media w(1280) { /*-----------------------------------------------------------*/
  .route-wrapper.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-page {
    padding: 0;
  }

  .page-wrap {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-areas: "header content";
  }

  .header {
    grid-area: header;
    border-right: $border;
    height: 100vh;
    width: 25vw;
    position: fixed;
    transition: $default-transition;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fafafa;
    z-index: 2;
  }

  .name-wrapper {
    position: absolute;
    top: 26vh;
  }

  .site-title {
    padding-bottom: 1em;
  }

  .site-subtitle {
    margin-bottom: 6em;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .content {
    grid-area: content;
    z-index: 1;
  }

  .footer {
    bottom: 0;
    position: fixed;
    width: 25vw;
    z-index: 3;
  }
}

/* Vertical Responsive -------------------------------------------------------*/

/* Profile pic */
:root {
  --profile-pic-size: 10rem;
}

@media h(481) {
  .site-logo {
    @include size(11vh);
  }

  :root {
    --profile-pic-size: 20vh;
  }
}

@media h(768) { /*------------------------------------------------------------*/
  .site-logo {
    top: 12vh;
  }
}

@media h(768) { /*------------------------------------------------------------*/
  .site-logo.minimized {
    @include size(4rem);
  }
}

@media h(1024) { /*-----------------------------------------------------------*/
  .site-logo.minimized {
    @include size(5rem);
  }
}


