@import '../lib.css';
@import './nav.css';

.page-wrap {
  background: white;
  max-width: 100vw;
  overflow-x: hidden;
  /* Height set by javascript (react-div-100vh) to negate mobile safari vh bs. */
  /* height: 100vh; */

  /* Flexbox for mobile (one dimension) */
  display: flex;
  flex-direction: column;

  /* Grid for desktop (two dimensions) */
/*   display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer"; */
    /* position: relative; */

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color;
  }
}

.header { /*------------------------------------------------------------------*/
  grid-area: header;
  flex: initial;

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color-a;
  }
}

.content { /*-----------------------------------------------------------------*/
  flex: auto;
  /* grid-area: content; */

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color-b;
  }
}

.page-content {
  padding: 5vh;
}

.footer {/*-------------------------------------------------------------------*/
  /* grid-area: footer; */

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color-c;
  }
}

.css-console {/*--------------------------------------------------------------*/
  background: black(.8);
  color: #efefef;
  position: fixed;
  bottom: 0;
  font-size: 70%;
  padding: 3vh;
  box-shadow: 1px 1px 1px black(.3);

  @if $cssConsole == false {
    display: none;
  }
}