@import '../lib.css';
@import './nav.css';

.page-wrap {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  /* Grid */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
    position: relative;

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color;
  }
}

.header { /*------------------------------------------------------------------*/
  grid-area: header;
  display: grid;
  grid-template-areas:
    "nav"
    "logo";

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color-a;
  }
}

.content { /*-----------------------------------------------------------------*/
  grid-area: content;
  padding: 5vh;

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color-b;
  }
}

.footer {/*-------------------------------------------------------------------*/
  grid-area: footer;

  @if $guides == true {
    box-shadow: inset 0 0 0 5px $guide-color-c;
  }
}