/*! Social Links ------------------------------------------------------------ */
@import "../lib.css";
@import "../elements/icons.css";
@import '../mixins/helpers.css';

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 0;
  background: black(.02);
  border-top: $light-border;
}

.social-link-item {
  margin-right: 8vw;
  text-align: center;
  transition: margin .5s ease;

  &:last-of-type {
    margin-right: 0;
  }

  @media w(768) {
    margin-right: 2vw;
  }
}

.social-link-text {
  @include hidden-text;
}
