@import "./reset.css";
@import "./components/page-wrapper.css";
@import "./elements/type.css";


html {
/*   background: url(../img/colors-03.jpg) no-repeat center center fixed;
  background-size: cover; */
}

body {
  background: white; /* fallback color */
}

img {
  max-width: 100%;
}
