@import "./reset.css";
@import "./components/page-wrapper.css";
@import "./elements/type.css";

body {
  font-family: 'AVG', sans-serif;
  margin: 0;
  padding: 0;
  background: #efefef;
}

img {
  max-width: 100%;
}
