/* 🏠 Home */
@import './lib.css';

.home-page {
  text-align: center;
  padding: 17vh 0 5vh 0 !important;
  /* Yeah, I know. I'm using !important here to override the value set in
  page-wrapper, but I know what I'm doing (I think) so piss off about it. */
}

.home-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
}

.tester {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: red;
}