/* 🏠 Home */
@import './lib.css';

.home-page {
  text-align: center;
}

.home-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
}

.tester {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: red;
}