/* 🏠 Home */
@import './lib.css';

.home-page {
  text-align: center;
  padding: 17vh 0 5vh 0 !important;
  /* Yeah, I know. I'm using !important here to override the value set in
  page-wrapper, but I know what I'm doing (I think) so piss off about it. */
}

.home-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: $trailer;
}

.tester {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: red;
}

.image-holder {
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  & svg {
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
