/* 📚 Lib */

/* Config --------------------------------------------------------------------*/
$guides: false;
$cssConsole: false;

/* Guides --------------------------------------------------------------------*/
$guide-color: color(red a(30%));
$guide-color-a: color(green a(30%));
$guide-color-b: color(blue a(30%));
$guide-color-c: color(orange a(30%));
$guide-border: 1px solid $guide-color;

/* Borders -------------------------------------------------------------------*/
$default-border: 1px solid black(.1);
$light-border: 1px solid black(.05);
$border: $default-border;

/* Color Variables -----------------------------------------------------------*/
$body-black: #4d4d4d;
$body-gray: #999999;
$ui-gray: #ccc;

$blue: #87cdea;
$lightblue: color($blue tint(50%));
$darkblue: color($blue shade(20%));

$dark-red: color(#cc0033 lightness(30%));

$background-color: black(.02);
$page-color: white;

$link-color: #108db8;

/* Vertical Rhythm -----------------------------------------------------------*/
$trailer: 5vh;

/* Transitions ---------------------------------------------------------------*/
$default-duration: .3s;
$default-ease: ease-out;
$duration: $default-duration;
$default-transition: all $default-duration $default-ease;

$bounce-in: cubic-bezier(.16, .035, .24, 1.295);
$slide-in: cubic-bezier(.87, -.41, .19, 1.44);
$slide-duration: .3s;

/* Type ----------------------------------------------------------------------*/
$base-font-size: 10px;
$base-font-size: 1rem;
$base-line-height: 1;
$book: 'AVG', sans-serif;
$demi: 'AVG-Demi', sans-serif;
