/* 📚 Lib *********************************************************************/

/* Color Variables -----------------------------------------------------------*/
/* Blue */
$body-black: #4d4d4d;
$body-gray: #999999;
$ui-gray: #ccc;
$light-gray: black(.1);
$lighter-gray: black(.05);
$lightest-gray: black(.02);

/* Black */
$blue: #87cdea;
$light-blue: color($blue tint(50%));
$dark-blue: color($blue shade(20%));

/* Red */
$dark-red: color(#cc0033 lightness(30%));
$red: #e62739;

/* Contextual */
$background-color: $lightest-gray;
$page-color: white;

/* Links */
$link-color: #108db8;

/* Borders -------------------------------------------------------------------*/
$default-border: 1px solid $light-gray;
$light-border: 1px solid black(.05);
$ui-border: 1px solid $ui-gray;
$border: $default-border;

/* Shadows -------------------------------------------------------------------*/
/* offset-x | offset-y | blur-radius | color */
$shadow: 0 0 2rem $lighter-gray;

/* Vertical Rhythm -----------------------------------------------------------*/
$trailer: 5vh;
$gutter: 2.5vh;

/* Transitions ---------------------------------------------------------------*/
$default-duration: .3s;
$default-ease: ease-out;
$duration: $default-duration;
$default-transition: all $default-duration $default-ease;

$bounce-in: cubic-bezier(.16, .035, .24, 1.295);
$slide-in: cubic-bezier(.87, -.41, .19, 1.44);
$slide-duration: .3s;

/* Type ----------------------------------------------------------------------*/
$base-font-size: 10px;
$base-font-size: 1rem;
$base-line-height: 1;
$book: 'AVG', sans-serif;
$demi: 'AVG-Demi', sans-serif;
