@import './lib.css';
@import './mixins/helpers.css';

.profile-pic {
  border-radius: 50%;
  @include size(40vw);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5vh;
}