@import './lib.css';
@import './mixins/helpers.css';

.profile-pic {
  border-radius: 50%;
  /* @include size(var(--profile-pic-size
.)); */
  width: var(--profile-pic-size
.);
  position: relative;
  left: calc(50% - (var(--profile-pic-size
.) / 2));
  margin: calc(var(--profile-pic-size
.) / 4) 0 $trailer 0;
}

.expertise {
  dt {
    font-family: $demi;
    margin-top: 1rem;
  }

  dd {
    padding-left: 2rem;
  }
}
.text-container {
  position: relative;
  display: inline-block;
  transition: height 1s ease;
  overflow: hidden;
}
