@import './lib.css';
@import './mixins/helpers.css';

.profile-pic {
  border-radius: 50%;
  @include size(40vw);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: $trailer;
}

dt {
  font-family: $demi;
  margin-top: 1rem;
}

dd {
  padding-left: 2rem;
}

.text-container {
  position: relative;
  display: inline-block;
  transition: height 1s ease;
  overflow: hidden;
}
