/* 🎨 Projects */
@import './lib.css';
@import './mixins/helpers.css';


.project {
  position: relative;
  text-align: center;
}

.project-content {
  text-align: left;

  h2 {
    margin-top: $trailer;
    font-size: calc(16px + .4vw);
    letter-spacing: .2rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  img {
    margin: calc($trailer / 2) 0;
  }

  .bordered {
    border: $default-border;
  }

  .centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.project-cover {
  transform: scale(1);
  transition: transform 3s;
}

.project-title {
    background-color: $page-color;
    display: inline-block;
    padding: 0 1rem;
    z-index: 1;
    text-transform: capitalize;

  &:before {
    background: $light-gray;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(13px + .4vw);
    width: 100%;
    z-index: -1;
  }
}

.project-more-link {
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 50%;
  margin: calc($trailer /2) 0;
  display: inline-block;
  color: transparent;
  font: 0/0 a;
  @include size(3rem);
  position: relative;
  transition: transform 1s ease, color 1s ease;

  &:before {
    position: absolute;
    content: "➤";
    color: $link-color;
    /* font-size: calc(14px + .4vw); */
    font-size: 1.5rem;
    top: 55%;
    transform: translateX(-35%);
  }

  &:hover {
    transform: scale(1.2);
    /* box-shadow: 0px 2px 5px 0 black(.06); */
  }
}

.project-tech,
.project-role {
  display: flex;
  text-align: left;
  align-items: baseline;

  dt {
    display: inline-block;
  }

  dd {
    display: inline;
    letter-spacing: .05rem;
  }
}

.projects-page {
  .project {
    padding-bottom: calc($trailer * 1.5);
  }
  
  .image-holder {
    padding: calc($trailer / 2) 0;
    padding-bottom: calc(71% + ($trailer / 2));
  }

  .project-cover {
    width: 100%;
    position: absolute;
    left: 0;

    &:hover {
      transform: scale(1.1);
    }    
  }  
}

