/* 🎨 Projects */
@import './lib.css';

.project {
  position: relative;
  text-align: center;
  padding-bottom: calc($trailer * 3);
}

.project-title {
    background-color: $page-color;
    display: inline-block;
    padding: 0 1rem;
    z-index: 1;
    text-transform: capitalize;

  &:before {
    background: black(.1);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(13px + .4vw);
    width: 100%;
    z-index: -1;
  }
}

.project-content {
  text-align: left;
}

.project-cover {
  padding: $trailer 0;
}