/* 🎨 Projects */
@import './lib.css';
@import './mixins/helpers.css';

.project { /*-----------------------------------------------------------------*/
  position: relative;
  text-align: center;
}

.project-content {
  text-align: left;

  h2 {
    margin-top: $trailer;
    font-size: calc(16px + .4vw);
    letter-spacing: .2rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  img {
    margin: calc($trailer / 2) 0;
  }

  .bordered {
    border: $default-border;
  }

  .centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.project-cover {
  transform: scale(1);
  transition: transform 3s;
}

.project-title {
    background-color: $page-color;
    display: inline-block;
    padding: 0 1rem;
    z-index: 1;
    text-transform: capitalize;

  &:before {
    background: $light-gray;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(13px + .4vw);
    width: 100%;
    z-index: -1;
  }
}

.project-more-link {
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 50%;
  margin: calc($trailer / 2) 0;
  display: inline-block;
  color: transparent;
  font: 0/0 a;
  @include size(3rem);
  position: relative;
  transition: transform 1s ease, color 1s ease;

  &:before {
    position: absolute;
    content: "➤";
    color: $link-color;
    font-size: 1.5rem;
    top: 55%;
    transform: translateX(-35%);
  }

  &:hover {
    transform: scale(1.2);
  }
}

.project-tech,
.project-role {
  display: flex;
  text-align: left;
  align-items: baseline;

  dt {
    display: inline-block;
  }

  dd {
    display: inline;
    letter-spacing: .05rem;
  }
}

.projects-page { /*-----------------------------------------------------------*/
  @media w(1024) {
    display: grid;
    grid-gap: calc($trailer / 2) calc($gutter * 2);
    grid-template-areas: "projects project";
    grid-template-columns: 1fr 4fr;
  }
}

.project-summaries { /*-------------------------------------------------------*/
  @media w(1024) {
    min-height: 100vh;
    border-right: $default-border;
    grid-area: projects;

    .project {
      grid-area: project;
    }
  }

  @media w(1280) {
    background: $lighter-gray;
    margin: -5vh 0 -5vh -5vh;
    padding: 5vh 2.5vh;
  }

  .summaries-section-title {
    font-family: $book;
    color: $body-gray;
    letter-spacing: .05rem;
  }

  .project {
    @media w(1280) {
      background: white;
      margin: 0 calc(-$gutter / 5) calc($trailer / 2);
      box-shadow: $shadow;
      border-radius: .5rem;
    }

    &.current-project {
      /* TODO */
    }
  }

  .image-holder {
    padding: calc($trailer / 2) 0;
    padding-bottom: calc(60% + ($trailer / 2));
  }

  .project-cover {
    width: 100%;
    position: absolute;
    left: 0;

    &:hover {
      transform: scale(1.1);
    }
  }

  .project-title {
    @media w(1024) {
      font-size: calc(10px + .4vw);
      line-height: 1.9;
    }

    @media w(1280) {
      padding-bottom: 2rem;
    }
  }

  .project-summary-link {
    display: inline-block;
    width: 100%
  }
}
