/*! 🏕 Reset ******************************************************************/
:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Typography */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove image link borders */
a img,
:link img,
:visited img {
  border: 0;
}

/* Selection color  */
::-moz-selection {
  color: $body-black;
  background: $red;
}

::selection {
  color: $body-black;
  background: $red;
}

/* Mobile */
a:link {
  -webkit-tap-highlight-color: transparent;
}