/*! Icons --------------------------------------------------------------------*/
.icon {
  background: rgba(0, 0, 0, 0) url("../../img/ico/social-icons.svg") no-repeat;
  background-size: 37px 293px;
  display: inline-block;
  height: 40px;
  position: relative;
  vertical-align: middle;
  width: 36px;
}

.icon {
  filter: saturate(05%);
  opacity: .9;
  transition: filter, .5s, opacity .5s, transform .5s $bounce-in;
  transform: scale(.65, .65);

  &:hover,
  &:focus {
    cursor: pointer;
    filter: saturate(100%);
    opacity: 1;
    transform: scale(.9, .9);
  }

  @media w(768) {
    transform: scale(.7, .7);

    &:hover,
    &:focus {
      transform: scale(1, 1);
    }
  }

  @media w(1024) {
    transform: scale(.75, .75);

    &:hover,
    &:focus {
      transform: scale(1.1, 1.1);
    }
  }

  @media w(1440) {
    transform: scale(.8, .8);

    &:hover,
    &:focus {
      transform: scale(1.1, 1.1);
    }
  }
}

.icon.linkedin {
  background-position: 0 0;
}

.icon.instagram {
  background-position: 0 -64px;
  top: .3rem;
}

.icon.codepen {
  background-position: 0 -125px;
  filter: contrast(0%);

  &:hover {
    filter: contrast(100%);
  }
}

.icon.github {
  background-position: 0 -190px;

}