@import '../lib.css';
@import '../mixins/helpers.css';

/*! Logo --------------------------------------------------------------------*/
.site-logo {
  position: fixed;
  left: 50%;
  top: 20vh;
  z-index: 11;
  /* iOS disable selection on tap */
  -webkit-tap-highlight-color: transparent;
  background-color: black(.7);
  border-radius: 50%;
  box-shadow:
    0 0 0 2px white(.7),
    0 0 0 3px black(.2),
    -0px -0px 15px 1px black(.5) inset;
  text-align: center;
  z-index: 2;
  /* transition: background-color 1s $default-ease; */
  transform: scale(.9) translate(-50%, -50%);
  transform-origin: left center;

  @include size(6rem);

  &:hover {
    background-color: black(.9);
  }

  @media h(628) {
    top: 10vh;
    @include size(6.5rem);
  }

}


.site-logo-link {
  fill: white;
  display: block;
  position: relative;
}

.site-logo-j {
  top: 45%;
  display: block;
  position: relative;
  transform: translateX(5% 5%);
}

.site-logo-link-text {
  @include hidden-text;
}
