/*! Logo --------------------------------------------------------------------*/
@import '../lib.css';
@import '../mixins/helpers.css';

.site-logo {
  display: block;
  position: absolute;
  @include size(5rem);
  top: 15vh;
  left: 50%;
  /* iOS disable selection on tap */
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
  fill: black;
  grid-area: logo;
  transform-style: preserve-3d;
  transition: all 700ms $default-ease;
  perspective: 1000px;
  transform:
    translateX(-50%)
    rotate3d(0, 1, 0, 0deg);

  &.minimized {
    @include size(3rem);
    left: 3vw; /* match content padding */
    top: 50%;
    transform:
      translateY(-50%)
      rotate3d(0, 1, 0, -359.9deg);
    position: absolute;
  }
}

.site-logo-j {
  top: 0;
  display: block;
  position: relative;
  /* transform: translateX(5% 5%); */
}

.site-logo-link-text {
  @include hidden-text;
}
