@import '../lib.css';
$logo-color: red;


/*! Logo --------------------------------------------------------------------*/
.site-logo {
  /* background-color: black(.7); */
  background-color: black(.7);
  border-radius: 50%;
  box-shadow:
    0 0 0 2px white(.7),
    0 0 0 3px black(.2),
    -0px -0px 15px 1px black(.5) inset;
  text-align: center;
  margin: 0;
  z-index: 2;
  /* transition: background-color 1s $default-ease; */
  transform: scale(.9) translate(-50%, -50%);
  transform-origin: left center;

  &:hover {
    background-color: black(.9);
  }
}

.site-logo-link {
  color: white !important;
  display: block;
  font-weight: 400;
  line-height: 0;
  position: relative;
  width: 6rem;
  height: 6rem;
}

.site-logo-j {
  top: 45%;
  display: block;
  position: relative;
  transform: translateX(2%);
}

.site-logo-link-text {
  @mixin hidden-text;
}
