@import '../lib.css';
@import '../mixins/helpers.css';

/*! Logo --------------------------------------------------------------------*/
.site-logo {
  display: block;
  position: relative;
  left: 50%;
  z-index: 11;
  /* iOS disable selection on tap */
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
  transform: translateX(-50%);
  fill: black;
  grid-area: logo;
  @include size(9vh);
  margin-bottom: 5vh;

  @if $guides == true {
    border: $guide-border;
    background: $guide-color;
  }

  @media h(481) {
    @include size(11vh);
  }
}

.site-logo-j {
  top: 0;
  display: block;
  position: relative;
  transform: translateX(5% 5%);
}

.site-logo-link-text {
  @include hidden-text;
}
