@font-face {
  font-family: 'AVG';
  src: local('AVG'),
    url(../../public/fonts/avg-book.woff2)
    format('woff2');
}

@font-face {
  font-family: 'AVG-Demi';
  src: local('AVG-Demi'),
    url(../../public/fonts/avg-demi.woff2)
    format('woff2');
}

h1 {
  font-family: 'AVG-Demi', sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}