/* ✍️ Type  *******************************************************************/

@import '../lib.css';
@import '../mixins/helpers.css';
@import './fonts';

body {
  font-family: $book;
  margin: 0;
  color: #8a8a8a;
  font-size: calc(13px + .4vw);

  @media w(1900) {
    font-size: 1.9rem;
  }
}

h1 {
  font-family: $demi;
  font-weight: normal;
  padding-bottom: 1rem;
  color: $body-black;
}

h2 {
  font-family: $book;
  font-weight: normal;
  padding-bottom: 1rem;
  color: $body-black;
}

h3 {
  font-family: $book;
  font-weight: normal;
  padding-bottom: 1rem;
  color: #666;
  font-size: 1.1em;
  margin-top: 2rem;
}

p {
  padding-bottom: 1rem;
  letter-spacing: .01rem;
}

a {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
}

blockquote {
  p {
    border-left: 5px solid $light-blue;
    padding: 0 0 0 2rem;
    margin-bottom: 1rem;
  }

  strong {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: inline;
    font-weight: normal;
    font-family: $demi;
  }
}

dl {
  font-size: 90%;
  /* line-height: calc(1.2em + 1vw); */
}

dt {
  color: black(.7);
  font-family: $demi;
  margin-top: 1rem;
  margin-right: 1rem;
}

dd {
  text-rendering: geometricPrecision;
}

/* Fluid Line-height (molten leading) */
body {
  line-height: calc(1.2em + 1vw);

  @media w(768) {
    line-height: calc(1.2em + 0.8vw);
  }

  @media w(1152) {
    line-height: calc(1.2em + 0.5vw);
  }

  @media w(1680) {
    line-height: calc(1.2em + 0.3vw);
  }
}

h1 {
  line-height: calc(1.4em - 1vh);
}

h2 {
  line-height: calc(1.4em - .5vh);
}

/* Contextual Styles ---------------------------------------------------------*/
.site-title {
  font-family: 'AVG-Bold', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: $body-black;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 0;
}

.site-subtitle {
  font-family: 'AVG', sans-serif;
  color: $body-gray;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}