@import '../lib.css';
@import '../mixins/helpers.css';
@import './fonts';

body {
  font-family: 'AVG', sans-serif;
  margin: 0;
  color: #8a8a8a;
  font-size: calc(13px + .4vw);

  @media w(1900) {
    font-size: 1.9rem;
  }
}

h1 {
  font-family: 'AVG-Demi', sans-serif;
  font-weight: normal;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'AVG-Demi', sans-serif;
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  letter-spacing: .01rem;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

/* Contextual Styles ---------------------------------------------------------*/
.site-title {
  font-family: 'AVG-Bold', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: $body-black;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.site-subtitle {
  font-family: 'AVG', sans-serif;
  color: $body-gray;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}