/* Clearfix */
@define-mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Hidden Text */
@define-mixin hidden-text {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  display: none;
  white-space: nowrap;
}

/* Size */
@define-mixin size $size {
  width: $size;
  height: $size;
}